
@keyframes LogoAnim {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    75% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.animate__animated.animate__zoomIn {
    --animate-duration: 1s;
  }

.animate__animated.animate__flipInX {
    --animate-duration:1s;
}

.animate__animated.animate__backInLeft{
    --animate-duration: 2s;
    --animate-delay: 0.9s;
}
.animate__animated.animate__backInDown{
    --animate-duration: 2s;
    --animate-delay: 0.9s;
}

@keyframes CardAnim {
    0% {
        opacity: 0%;
        transform: translateX(-200px);
    }
    75% {
        transform: translate(0px);
    }

    100% {
        opacity: 100%;
        
    }
}

@keyframes ColorTrans {
    0% {
        color: #262626;
    }
    100% {
        color: #D72378;
    }
}