.header-format {
    background-image: url('../../assets/header4.png');
    background-size: cover;
    height: 680px;
    .logo-cont {
        position: relative;
        top: 30%;
        left: 15%;
        
    }
}
.logo {
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 40%;
}