.card-div {
    padding-left: 150px;
    margin-top: 0;
    padding-right: 150px;
    //-color:rgba($color: #D72378, $alpha: 0.5);

    // height:fit-content;
}
.mob-cards-div {
    display: none;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    // margin-top: 0;
    height: fit-content;
    //background-color: rgba($color: #D72378, $alpha: 0.5);
    // border-radius: 18px;
    // margin: 15px;
    //   box-shadow: 
    //  4px 4px 8px #706F6F,
    // -4px 4px 8px #706F6F;
    //4px -4px 16px #706F6F,
    //-4px -4px 16px #706F6F;

    .card {
        width: 50%;
        margin-top: 0;
        margin-right: 15px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        // border-color: #706F6F;
        //background-image: linear-gradient(to bottom, #D72378, #ffffff);
        align-items: center;
        justify-content: start;
        border-radius: 18px;
        //margin: 0;
        padding: 0;
        //box-shadow: 0px 4px 16px #000000;
        // overflow: hidden;
        transition: transform 0.5s ease;

        &:hover {
            transform: translateY(-15px);
            //box-shadow: 0px 16px 16px #000000;

        }

    }

}
.servicio {
    font-family: 'Balthazar', sans-serif;
    text-align: center;
    color: #706F6F;

}

.precio {
    color: #fff;
    background-color: rgba($color: #D72378, $alpha: 0.7);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Bebas neue', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.card-img {
    border-radius: 18px !important;
    filter: brightness(0.6);
    transition: filter 0.5s ease;

    &:hover {
        filter: grayscale(0%);
    }
}

//&:hover{
//height: 100%;
// }

.card-title {
    margin-top: 0px;
    text-align: center;
    font-family: 'Bebas neue';
    font-weight: 300;
    color: bisque !important;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-color: rgba($color: #D72378, $alpha: 0.7);
    font-size: 40px;
    // animation: LogoAnim 2s ease-in;
}

.card-txt {

    font-family: 'Montserrat', sans-serif;
    color: #262626;
    font-size: 18px;
    border-radius: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    .li-txt {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
        color: #D72378;
        padding-left: 10px;
        &::before {
            color: #fff;
        }
    }
}
.card-txt li:first-child {
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin: 0 auto;
}
.btn-cta {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: bisque;
    background-color: rgba($color: #D72378, $alpha: 0.7);
    padding: 5px;

    img {
        margin-left: 2px;
        width: 12%;
    }

    margin-bottom: 15px;
    margin-top: 10px;
    border: none;

    &:hover {
        background-color: bisque;
        color: rgba($color: #D72378, $alpha: 0.7);

        img {
            content: url('../assets/click-hov.png');
        }
    }

}

.card-body {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 18px;
    box-shadow: 0 4px 8px #262626;
    background-color: rgba($color: #706F6F, $alpha: 0.2);
    animation: CardAnim 1.25s ease;
     a {text-decoration: none;}
}